# Dependency directories
node_modules/
tmp/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# lib folder
lib/

#test report output
.nyc_output
coverage
sequelize-meta.json